<div class="food-cart wrap-template">
  <div class="wrapper-content">
    <div class="menu-header">
      <div class="dao-btn green" @click="addMenu">发布</div>
    </div>

    <table class="menu-content dao-table slat" v-if="rows && rows.length">
      <thead>
        <tr>
          <th class="thumbnail">
            <span>图片</span>
          </th>
          <th class="name">
            <span>菜名</span>
          </th>
          <th class="operation"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in chunks[page]">
          <td class="thumbnail"><img :src="item.picture" class="thumbnail"></td>

          <td class="name">
            <div class="item-major">{{ item.name }}</div>
          </td>

          <td class="operation">
            <button class="dao-btn red has-icon" @click="removeFromCart(item)">
              <span class="text">移出</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <empty-state v-if="!rows || !rows.length" text="还没有添加菜品, 饿着肚子怎么行" class="empty-state"></empty-state>
  </div>
</div>
