<div class="application-detail" v-if="todayMenu">
  <div class="dao-view-header">
    <div class="header-top">
      <div class="header-content">
        <div class="content-top">
          <div class="">{{ todayMenu.description }}</div>
        </div>
      </div>
    </div>

    <div class="header-bottom">
      <div class="col-6">
        <span>创建于：</span>
        <span>{{ todayMenu.pub_date }}</span>
      </div>
      <div class="col-6">
        <span>截止时间：</span>
        <span>{{ todayMenu.deadline }}</span>
      </div>
    </div>
  </div>

  <div class="dao-view-main">
    <div class="dao-view-sidebar">
      <div class="dao-list-group-container">
        <ul class="dao-list-group image-namespace-list" v-for="group in sidebar">
          <li class="dao-list-item" v-for="(tab, tabname) in group" :class="{'active' : content === tabname}" @click="content = tabname">
            <div>
              {{ tab }}
              <span class="icon">
                <svg><use xlink:href="#icon_caret-right"></use></svg>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="dao-view-content">
      <dao-setting-layout>
        <dao-setting-section v-if="content === 'foods'">
          <food-cart v-if="todayMenu" :rows="todayMenu.foods" mode="foodOnly"></food-cart>
        </dao-setting-section>
      </dao-setting-layout>
    </div>
  </div>
 </div>
