<div class="food-menu">
  <div class="menu-header">
    <div class="dao-btn green" @click="showFoodCart = true">菜篮子（{{ cartCount }}）</div>
    <router-link to="/new" tag="div" class="dao-btn blue">录入菜品</router-link>

    <div class="search-box">
      <dao-input placeholder="Search" :search="true"></dao-input>
    </div>
  </div>

  <table class="menu-content dao-table slat">
    <thead>
      <tr>
        <th class="thumbnail">
          <span>图片</span>
        </th>
        <th class="name">
          <span>菜名</span>
        </th>
        <th class="desc">
          <span>简介</span>
        </th>
        <th class="rating">
          <span>评分</span>
        </th>
        <th class="orders">
          <span>近期点单</span>
        </th>
        <th class="operation"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in chunks[page]">
        <td class="thumbnail"><img :src="item.picture" class="thumbnail"></td>

        <td class="name">
          <div class="item-major">{{ item.name }}</div>
        </td>

        <td class="desc">
          <div class="item-major">{{ item.description }}</div>
        </td>

        <td class="rating"><div class="item-major"><span v-for="n in Array(Math.round(item.rate))">★ </span></div></td>

        <td class="orders"><div class="item-major">{{ item.rater_count }}</div></td>

        <td class="operation">
          <div class="dao-btn-group">
            <button class="dao-btn ghost has-icon" @click="addToCart(item)">
              <span class="text">加到菜篮子</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="dao-table-page">
    <div class="dao-btn-group">
      <button class="dao-btn dao-icon ghost" @click="prev" :disabled="page === 0">
        <svg class="icon">
          <use xlink:href="#icon_caret-left"></use>
        </svg>
      </button>
      <button class="dao-btn dao-icon ghost" @click="next" :disabled="chunks.length === 0 || page === chunks.length - 1">
        <svg class="icon">
          <use xlink:href="#icon_caret-right"></use>
        </svg>
      </button>
    </div>
    <span class="dao-table-page-span">
    {{ chunks.length > 0 ? page * limit + 1 : 0 }}
      -
    {{ chunks.length === 0 || page === chunks.length - 1 ? currentRows.length : page * limit + limit }}
    ，共 {{ currentRows.length }} 个{{tableName}}
    </span>
  </div>

  <!-- 侧滑框 -->
  <slideable-panel :active.sync="showFoodCart">
    <food-cart :rows="selectedRows"></food-cart>
  </slideable-panel>
</div>
